header{
	background-color: lightblue;
	background-image: url('../images/jasmine3.jpg');
	background-repeat: repeat;
	padding: 30px 30px 80px 30px;
	margin: 0;
	text-align: center;
}
header img{
	width: 285px;
	border-radius: 96px;
	border: 20px solid white;
	box-shadow: 0 10px 20px black;
}
body{
	margin: 0;
	background-color: white;

}
h1{
	color: white;
	font-size: 40px;
	text-shadow: 0 4px 20px black;

}

h2{
	color: #006666;
}

ul{
	list-style-type: circle;
}

a{
	color: #57c1b7;
	text-decoration: none;
}

a:hover{
	background-color: #006666;
}
.content{
	max-width: 1300px;
	margin: 0 auto;
	padding: 20px 20px 40px 20px;
}
img.big-image{
	max-width: 100%;
}


footer{
	padding: 25px;
	text-align: center;
	background-color: #57c1b7;

}
p.caption{
	font-size: 17px;
	color: grey;
}